html {
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#pageContainer {
    display:flex;
    flex-direction: column;
}

#topBut{
    justify-content: center;
    align-self: center;    
    margin: 10px;
    width: 300px;
    height: 75px;
}

#container {
    display:flex;
    flex-direction: column;
}

.rowBox {
    display: flex;
    flex-wrap: no-wrap;
}

.colBox {
    display: flex;
    flex-wrap: no-wrap;
}

.rowDiv {
    width: 100vw;
    aspect-ratio: 1 / 1;
    /* border-style: solid; */
    /* border-color: blueviolet; */

}

.hovered {
    background-color: rgb(0, 0, 0);
}